@using HospitalManagement.Components.Hospital
@page "/hospital/{HospitalId}"

<PageTitle>Hospital details</PageTitle>
<div class="container">
    <div class="row justify-content-md-left">
        <div class="col col-md-2 mr-2 mb-auto">
            <a class="link-unstyled" href="/hospitals">
            <i class="bi bi-arrow-left-square navigation-block mr-1 mt-auto" data-toggle="tooltip" data-placement="top" title="Go back"></i>
            <span class="ml-1 navigation-block">Go back</span>
            </a>
        </div>
        <div class="col col-md-auto mt-auto mb-auto">
            <h1>Hospital details</h1>
        </div>
    </div>
</div>
@using HospitalManagement.Business.Queries;
@using HospitalManagement.Domain.Dto;

@if (hospitalDetails == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <HospitalDetails HospitalData="hospitalDetails" ReadOnly=true/>
}

@code {

    [Parameter]
    public string HospitalId { get; set; }

    string error = string.Empty;
    HospitalData? hospitalDetails;

    protected override async Task OnInitializedAsync()
    {
        hospitalDetails = await Mediator.Send(new GetHospital { HospitalId = Guid.Parse(HospitalId) });
    }
}