@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello !</h1>
Welcome to simple hospital management application.
Please chose appropriate option from the navigation menu.

<SurveyPrompt Title="How do you like this application?" />

